<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Tulip</string>
		<key>mounth</key>
		<array>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Rose</string>
		<key>mounth</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Golden-daisy</string>
		<key>mounth</key>
		<array>
			<integer>10</integer>
			<integer>11</integer>
			<integer>12</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Chamomile</string>
		<key>mounth</key>
		<array>
			<integer>6</integer>
			<integer>7</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Narcissus</string>
		<key>mounth</key>
		<array>
			<integer>5</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Daisy</string>
		<key>mounth</key>
		<array>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>7</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Poppy</string>
		<key>mounth</key>
		<array>
			<integer>5</integer>
			<integer>6</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Lily</string>
		<key>mounth</key>
		<array>
			<integer>6</integer>
			<integer>7</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Dahlia</string>
		<key>mounth</key>
		<array>
			<integer>7</integer>
			<integer>8</integer>
			<integer>9</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Cornflower</string>
		<key>mounth</key>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Pansy</string>
		<key>mounth</key>
		<array>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Aster perennial</string>
		<key>mounth</key>
		<array>
			<integer>9</integer>
			<integer>10</integer>
			<integer>11</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Aster annual</string>
		<key>mounth</key>
		<array>
			<integer>8</integer>
			<integer>9</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Sunflower</string>
		<key>mounth</key>
		<array>
			<integer>8</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Peony</string>
		<key>mounth</key>
		<array>
			<integer>5</integer>
			<integer>6</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Bellflower</string>
		<key>mounth</key>
		<array>
			<integer>6</integer>
			<integer>7</integer>
			<integer>8</integer>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Lavender</string>
		<key>mounth</key>
		<array>
			<integer>7</integer>
			<integer>8</integer>
		</array>
	</dict>
</array>
</plist>
